body{
    background-image:radial-gradient(white,#BBBBBB);
    font-size:16px;
}

li{
    list-style:none;
    padding:10px;
}

ul{
    margin-left:-80px;
}

button{
    padding:10px;
    width:200px;
    font-size:16px;
}

button:hover{
    background-color:#EE5555;
    color:#EEEEEE;
    border-color:#EEEEEE;
}



#header{
    position:relative;
    top:-8px;
    left:-8px;

    width:95.25%;
    height:40px;
    background-image:linear-gradient(#000,#151515);
    padding-top:20px;
    padding-left:80px;

    box-shadow: 0 10px 12px #888;
}

#header a{
    color:white;
    text-decoration:none;
}

#header a:hover{
    color:red;
}

#profile{
    color:white;
    padding-left:75%;
}



#content{
    width:90%;
    min-height:500px;
    margin:auto;
    position:relative;

    background-color:#EEEEEE;
    box-shadow: 0 0 100px #aaa;

    margin-top:10px;
    padding:10px;
    text-align:center;
}




table{
    margin:auto;
    padding:40px;
}

td, th{
    border:1px solid black;
    padding:8px;
    font-size:18px;
    width:30%;
}

.firsttd{
    width:2%;
}

.secondtd{
    width:10%;
}

.thirdtd{
    width:30%;
}



#register{
    width:60%;
    margin-bottom:20px;
}

#register td{
    border:none;
}